*.pt
*.pickle
*.png
*.csv
*.wav
*.m
*Dataset
__pycache__/
7-group
LMT_108_SurfaceMaterials_Database
training_vis
DSS_results
DL-gpu
feat_dict
figure
CAAE_7group
CAAE_LMT108
desktop.ini
vib_AAE.ipynb
vib_VAE.ipynb
vib_autoencoder.ipynb
evaluation_test.ipynb
Evaluation_AllVib.py